<!DOCTYPE html>
<html>
<head>
    <title>My Ansible Application</title>
</head>
<body>

    <h1>Application deployed successfully!</h1>

    <p>Server hostname: {{ ansible_hostname }}</p>
    <p>Server IP: {{ ansible_default_ipv4.address }}</p>

</body>
</html>
